body {
  margin: 0;
  overflow:hidden
}
#root {
  width: 100vw;
  height: 100vh;
}

.App {
  text-align: center;
  padding: 20px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}